* {
  box-sizing: border-box;
  color:#fff;
  font-family:'NanumGothic';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 8px;
  background-color: #FFCC00;
}
li:hover{
  background-color: #0099cc;
}

.title{
  background: #FFCC00;
  height: 200px;  
}

.menu li {
  margin-bottom: 7px;
}

.pic img {
  width: 100%;
  height: 300px;
}

.list li {
  margin-bottom: 3px;
}
.list li span:before{
  content: "제 ";
}
.list li span:after{
  content: "장 : ";
}

.grade {
  text-align: center;
}

.review p {
  background: #FFCC00;
  border-radius: 10px;
  padding: 8px;
  line-height:150%;
}
.review p:hover {
	background-color: #0099cc;
  font-weight:bold;
}

.menu li, .list li, .grade p, .price p{
  font-weight:bold;
}

[class*="col-"] { /* 미디어 쿼리 조건에 없을 때 100프로*/
  width: 100%;
}

@media only screen and (min-width: 560px) { /* 최소 560px일 때 태블릿 사이즈*/
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .grade p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) { /* 최소 768px일 때 데스크탑 사이즈*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .grade h2 {
    text-align: left;
  }
  .grade p {
    font-size: 2rem;
  }
}